@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@600&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --main-background-color: #FEE9FF;
    --main-text-color: #030303;
    --secondary-text-color: #92929D;
    --purple-accent: #7B1D80;
    --section-background-color: #FCFCFC;
    --main-bg-nav-color: #ffff;
    --progresss-width: 600px;
    --html: 0.9;
    --css: 0.55;
    --ui-ux: 0.45;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

.nav-link{
    background-color: var(--main-bg-nav-color);
    margin-left: -2%;
    width: 104.5%;
}

nav {
    background-color: var(--main-bg-nav-color);
    height: 75px;
    width: 100%;
}

.main {
    background-color: var(--section-background-color);
    width: 80%;
    border-radius: 22px;
    padding: 44px;
    margin-top: 2em;
    margin-left: 10%;
}

.info {
    margin-top: 2em;
    margin-left: 5em;
}

.main h1 {
    font-size: 36px;
    color: var(--main-text-color);
}

.main p {
    font-size: 20px;
    margin-bottom: 1em;
}

.main p b {
    font-size: 24px;
    color: var(--main-text-color);
}

.main p a {
    color: var(--main-text-color);
}

.main p .fa-solid {
    padding: 15px;
    background-color: var(--main-text-color);
    color: var(--section-background-color);
    font-size: 16px;
    border-radius: 50%;
    margin-right: 12px;
}

.fa-brands {
    padding: 16px;
    background-color: var(--main-text-color);
    color: var(--section-background-color);
    font-size: 20px;
    border-radius: 50%;
    margin-right: 8px;
}

br{
  display: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-nav-color);
    margin-top: 4em;
    height: 50px;
}

footer p {
    font-size: 16px;
}

@media only screen and (min-width: 1354px) {
    .navbar-brand {
      font-size: 32px;
    }
  
    .navbar-nav {
      width: 35%;
    }
  
    .nav-link {
      font-size: large;
    }
  }
  
  @media only screen and (max-width: 1099px) {
    .navbar-nav {
      width: 45%;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .navbar-nav {
      width: 50%;
    }
  }
  
  @media only screen and (max-width: 992px) {
    .nav-link {
      background-color: #fff;
      width: 226%;
    }
  }

  @media only screen and (max-width: 732px){
    .info{
      margin-left: 0.5em;
    }
  }

  @media only screen and (max-width: 642px){
    br{
      display: block;
    }
    .info{
      margin-left: 5em;
    }
  }

  @media only screen and (max-width: 543px){
    .info{
      margin-left: -2em;
    }
  }