@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@600&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --main-background-color: #FEE9FF;
    --main-text-color: #030303;
    --secondary-text-color: #92929D;
    --purple-accent: #7B1D80;
    --section-background-color: #FCFCFC;
    --main-bg-nav-color: #ffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

.nav-link{
    background-color: var(--main-bg-nav-color);
    margin-left: -2%;
    width: 104.5%;
}

nav {
    background-color: var(--main-bg-nav-color);
    height: 75px;
    width: 100%;
}

.main {
    background-color: var(--section-background-color);
    width: 80%;
    border-radius: 22px;
    padding: 44px;
    margin-left: 10%;
    margin-top: 5vh;
}

.project-bundle {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 4em;
}

.project {
    width: 48%;
    margin-right: 2em;
}

.project h1 {
    font-size: 140%;
    margin-bottom: 1em;
}

.project img {
    width: 100%;
    height: 80%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-nav-color);
    margin-top: 4em;
    height: 50px;
}

footer p {
    font-size: 16px;
}

@media only screen and (min-width: 1354px) {
    .navbar-brand {
      font-size: 32px;
    }
  
    .navbar-nav {
      width: 35%;
    }
  
    .nav-link {
      font-size: large;
    }
  }
  
  @media only screen and (max-width: 1099px) {
    .navbar-nav {
      width: 45%;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .navbar-nav {
      width: 50%;
    }
  }
  
  @media only screen and (max-width: 992px) {
    .nav-link {
      background-color: #fff;
      width: 226%;
    }
    .project-bundle{
      display: block;
    }
    .main{
      padding: 32px;
    }
  }
  @media only screen and (max-width: 650px){
    .project h1{
      font-size: 90%;
    }
    .main{
      padding: 10px;
    }
    .project img{
      width: 200px;
    }
    .project{
      margin-right: 25%;
      margin-bottom: 1em;
    }
  }